.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.modal {
  position: relative;
  border-radius: 9px;
  background-color: #FAFAFA;
  max-width: 900px;
  min-height: 500px;
  max-height: 90%;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: all 1s ease;
}

.modal__close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  position: absolute;
  z-index: -1;
  top: -52px;
  right: -42px;
  transition: all .3s ease;
  cursor: pointer;
  svg {
      pointer-events: none;
  }
}

.modal__content{
  max-width: 100%;
}
.article-modal__content{
  display: flex;
  color: #000000;
  max-width: 100%;
  gap:30px;
  & img{
    height:500px;
    width: 500px;
    border-radius: 9px 0px 0px 9px;
    object-fit: cover;

  }

}
.pet__content{
  max-width: 44%;
  padding-top: 50px;
  padding-right: 20px;
}

.pet__name{
  letter-spacing: 0.06em;
  color: #000000;
}
.pet__desc-temp{
  @include font($size: 1.5rem, $height: 1.7rem );
  letter-spacing: 0.06em;

}
.pet__point{
  position :relative;
  padding-bottom: 11px;
  &::before{
    content: '';
    height: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4px;
    top:6px;
    left: 0;
    background: #F1CDB3;
    border-radius: 50%;
    position: absolute;

  }
}
.pet__type{
  padding-top: 10px;
  padding-bottom: 40px;
  @include font($size: 2rem, $height: 2.3rem );
  letter-spacing: 0.06em;

}
.pet__desc{
  letter-spacing: 0.06em;
  padding-bottom: 40px;
}
.pet__key{
  font-weight: 700;
  margin-left: 15px;

}
@media(hover:hover){
.modal__close-icon:hover{
  background-color: #F1CDB3;
}

}
@media screen and (max-width: 1000px) {
  .modal{
    max-width: 83%;
    min-height: 350px;
  }
  .article-modal__content{
    gap:11px;
    & img{
      height:46%;
      width: 350px;
  
    }
  
  }
  .pet__desc{
    @include font($size: 1.3rem, $height: 1.4rem );

  }
  .pet__content{
    padding-top: 10px;
    padding-right: 8px;
  }
  .pet__type{
    padding-top: 10px;
    padding-bottom: 20px;
 
  }
  .pet__desc{
    padding-bottom: 20px;
  }
  .pet__point{
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 630px) {
  .article-modal__content img{
    display: none;
  }
  .modal{
    max-width: 75%;
    min-height: 341px;
  }
  .pet__content{
    padding: 10px ;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .pet__desc{
text-align: justify;  
}
.pet__point{
  align-self: flex-start;
}
}
